@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

html {
  min-height: 100%;
  position: relative;
   }
.color-red {
  color: #A29D9D;
}
.color-gray {
  color: #999CAA;
}
.color-gainsboro {
  color: gainsboro;
}
.color-black {
  color: #6E6865;
}

article {
height: 110vh;
}

section.informacion {
  position: relative;
  left: 36%;
  bottom: 90%;
  margin: 0;
  font-family: Nunito;
/* height: 100vh; */

}
div  {

}

p.sinopsis{
  width: 63%;
text-align: justify;
color: #9E3939;
font-size: 20px;


}
ul.generos {
  list-style-type: none;



}



/* section.informacion {
  color: #9E3939; */
p.fechaDeEstrenoFecha{
  color: white;
}
div.idiomas {
  color:white;

}
div {
  color: #9E3939 ;
}
h1{
  color: #720E0E;
}
a {
  text-decoration: none;
  color: #9E3939;
}
 .favorito {
  position: relative;
    left: 35%;
    bottom: 20px; }
/* .video {
  position: relative; */

}
body {
  list-style:none;
 }
 iframe {
  position: absolute;
  left: 57%;
  top: 61.5%;
}

button.botonsito {
 margin-bottom: 5%;
}

/* div.thumbnails.recomendaciones {

  position: relative;
  top: 50%;
} */
/* h1 {
  font-size: 30px;
} */
.slideshow-container{
  position: relative;
  padding-bottom: 45px;
  text-align: center;
}

.thumbnailsRecomendaciones{
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;

    }
    .loguin:hover {
      border-bottom: 1px solid white;
      border-width: medium;
    }

button.trailer1 {
  position: relative;
  top: 10px;
}
.trailer2 {
  position: relative;

  top: 60%;
}

 h1 {
  text-align: center;
  font-size: 50px;
}


/* @media only screen and (min-width: 340px) and (max-width: 800px){


p.sinopsis {
  position: absolute;
  bottom: 0px;
}

} */
